.container {
    max-width: 1332px;
    margin: 0 auto
}

._pc {
    display: block
}

._mobile {
    display: none
}

body::-webkit-scrollbar {
    width: .25em
}

body::-webkit-scrollbar-thumb {
    background-color: grey
}

.gal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 328px
}

.gal .img {
    background-image: url(https://images.unsplash.com/photo-1638913665258-ddd2bceafb30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60);
    background-size: cover;
    background-position: center
}

.gal .img:nth-child(1) {
    grid-column: 1/3
}

.gal .img:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1/2
}

.gal .img:nth-child(6) {
    grid-row: 3;
    grid-column: 2/4
}

.gal .img:nth-child(10) {
    grid-column: 1/3
}

.gal .img:nth-child(13) {
    grid-row: 6/8;
    grid-column: 1/2
}

.gal .img:nth-child(16) {
    grid-row: 7;
    grid-column: 2/4
}

#modal_contacts {
    background: #fff;
    border-radius: 14px
}

#modal_contacts ._form_modal {
    width: 423px !important;
    height: 380px !important
}

#modal_contacts ._form_modal ._h3 {
    margin-bottom: 16px
}

#modal_contacts ._form_modal ._text {
    font-weight: 600;
    font-size: 54px
}

#modal_contacts ._form_modal ._grey {
    margin-top: -2px;
    margin-bottom: 30px
}

#modal_contacts ._form_modal .icons {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 30px
}

#modal_contacts ._form_modal .icons img {
    margin-right: 13px
}

#modal_contacts ._form_modal ._button {
    width: 100%
}

#menubar #header-menu .change-language, #menubar #header-menu .links {
    display: none
}

._active-bg {
    z-index: 1010
}

._active_phone {
    z-index: 1011
}

#menu-block {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 130px 0 34px 30px;
    transition: .3s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 428px;
    z-index: 1001;
    transform: translateX(-100%);
    background: #f8f8f8
}

#menu-block ._h2 {
    display: flex;
    align-items: center
}

#menu-block ._h2 img {
    margin-right: 12px
}

#menu-block a {
    color: #000
}

#menu-block.active {
    transform: translateX(0);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px)
}

#menu-block img.logo {
    width: 150px !important
}

#menu-block .links {
    display: flex;
    flex-direction: column
}

#menu-block .links img.logo {
    margin-bottom: 50px
}

#menu-block .links a {
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
    font-size: 26px;
    display: inline-block;
    position: relative;
    margin-bottom: 20px
}

#menu-block .links .effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .35s, transform .35s;
    transform: scale(0, 1)
}

#menu-block .links a.effect-underline:hover:after {
    opacity: 1;
    transform: scale(1)
}

#loading {
    display: flex;
    flex-wrap: wrap
}

#loading .round div {
    border-radius: 50%
}

.links ._flex {
    justify-content: space-between !important;
    align-items: center;
    padding-right: 20px
}

.links ._flex .menu-logo {
    margin-top: -70px
}

#about .item {
    display: flex;
    grid-gap: 74px
}

#about .item p {
    max-width: 414px
}

#about .item .top {
    margin: 74px 0 20px
}

#about .item .side-left b {
    margin-bottom: 10px
}

#about .item button {
    margin-top: 20px
}

#header {
    display: none
}