<template>
  <div class="_form">
    <div class="_width">
      <div class="side-left">
        <img src="~/static/img/Group2.png" alt="" />
      </div>
      <div class="side-right">
        <form
          class="dark open_lesson"
          method="POST"
          @submit.prevent="VALIDATE_FORM({ service: 'leads' })"
        >
          <label class="_white _h2"
            ><span class="_underline">Записаться</span> на курс</label
          >
          <div class="_margin_small"></div>
          <input
          data-regex="name"
            name="name"
            type="text"
            data-required="1"
            data-min="5"
            placeholder="Ваше имя"
            class="_input_dark"
          />
          <input
            name="phone"
            type="text"
            data-min="19"
            data-required="1"
            placeholder="Номер телефона"
            v-mask="'+998 (##) ###-##-##'"
            v-model="inputPhoneModel"
            class="_input_dark"
          />
          <!-- <select name="courseId" class="_dark">
            <option
              v-for="item of AllData.AllCourse.body"
              :key="item._id"
              :value="item._id"
            >
              {{ item.title }}
            </option>
          </select> -->
          <button>Записаться на курс</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      inputPhoneModel: "",
    };
  },
  computed: {
    ...mapGetters(["modals", "AllData"]),
  },
  methods: {
    ...mapMutations(["OPEN_MODAL"]),
    ...mapActions(["GetData", "SEND_LEADS", "VALIDATE_FORM"]),
  },
};
</script>

<style>
</style>