<template>
  <div id="loading">
      <div class="_loading_block" v-for="item of 3" :key="item"></div>
  </div>
</template>

<script>
export default {
  name: "LoadingList",
  data(){
    return{

    }
  }
}
</script>

<style>

</style>