<template>
  <div id="app">
    <Nuxt />
    <Modals />
    <div class="_heading">
      <Footer />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import "~/static/css/media.css";
export default {
  computed: {
    ...mapGetters(["modals"]),
  },
};
</script>
 