#courses {
  ._wrapper {
    padding: 75px 20px;
    margin: 0 auto;

    ._grid {
      display: grid;
      margin-bottom: 120px;
      grid-template-columns: repeat(320px, 4fr) !important;
       
      
      grid-gap: 22px !important;
      justify-content: flex-start;

      ._item {
        ._preview {
          margin-bottom: 20px;
        }
      }

      ._description {
        padding: 19px;
        ._p {
          margin-bottom: 10px;
        }
      }
    }
    ._form_modal{
      ._h3{
        margin-bottom: 4px;
      }
      ._link_text{
        margin-bottom: 24px;
      }
      ._flex{
        ._p{
          white-space: wrap;
        }
        ._grey{

          display: flex;
          align-items: flex-end;
        }
        margin-bottom: 5px;
      }
    }
  }
}
