footer {
    color: white;
    background-color: black;
    ._footer_container_bottom {
        padding: 40px 30px;

        max-width: 1172px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ._footer_logo_mobile {
            display: none;
            width: 28px;
        }
        p {
            color: #dadada;
        }
    }
}
