$_width-big: 1680px;
$_width: 1440px;
$_width-small: 1120px;
$_width-minimal: 960px;

@media only screen and (max-width: $_width) {
  ._main_heading {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0px;
      height: 750px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 750px;
      display: none;
    }
  }

  .open_lesson {
    ._h1 {
      font-size: 46px !important;
    }
  }
  #about {
    .item {
      grid-gap: 0 !important;
      img {
        width: 90%;
      }
      &:nth-child(1),
      &:nth-child(5) {
        justify-content: space-between;
      }
      &:nth-child(3) {
        .side-right {
          margin-left: 30px;
        }
      }
    }
  }
  .links {
    padding-left: 24px !important;
    a {
      margin-right: 20px !important;
    }
  }
  .arrows {
    img {
      width: 100%;
    }
  }

  #groups {
    ._grid {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  .arrows {
    ._h1 {
      font-size: 32px;
    }
  }

  ._form {
    .side-left {
      img {
        width: 90%;
      }
    }

    .side-right {
      form {
        .line {
          top: 40px !important;
        }
      }

      ._h1 {
        font-size: 32px;
      }

      ._margin_small {
        height: 30px;
      }
    }
  }

  #all-courses {
    ._titles {
      width: 100% !important;
    }

    .gradient-text {
      font-size: 90px;
    }

    ._grid {
      grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
    }

    ._bg_grey {
      padding: 0px 50px;
    }
  }

   
    
}

@media only screen and (max-width: 1280px) {
  header {
    a,
    p {
      font-size: 13px !important;
    }

    .side-right {
      img {
        width: 20px;
      }
    }

    .tumbler {
      width: 35px !important;
      height: 20px !important;
      padding: 2px !important;

      div {
        height: 100% !important;
        width: 16px !important;
        transform: translateX(0) !important;
      }

      &.active {
        div {
          transform: translateX(19px) !important;
        }
      }
    }
  }

  #teachers {
    .teachers_wrap {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }

  #all-courses {
    ._titles {
      width: 70% !important;
    }

    .gradient-text {
      font-size: 70px;
    }
  }

  #about {
    p {
      font-size: 14px;
    }
    b {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .arrows {
    ._h2 {
      font-size: 34px;
    }
    img {
      width: 90% !important;
      margin: 0 auto;
    }
  }

  ._form {
    padding: 50px 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;

    .side-left {
      display: none;
    }
    .side-right {
      left: 0 !important;
    }
  }
}

@media only screen and (max-width: 1080px) {
  ._mobile {
    display: block !important;
  }

  #about,
  .arrows {
    display: none !important;
  }

  h1,
  ._h1 {
    font-size: 42px;
  }

  h2,
  ._h2 {
    font-size: 36px;
  }

  ._main_heading {
    ._width {
      ._grey {
        font-size: 14px;
      }
      b {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  header {
    .links {
      display: none !important;
    }
    padding: 22px 30px !important;
    .mobile {
      display: block !important;
    }
    .pc {
      display: none !important;
    }
  }

  ._pc {
    display: none;
  }

  ._h1 {
    font-size: 38px;
  }

  #modals {
    #menu-block {
      a {
        font-size: 26px;
      }

      img {
        // height: 24px;
        // width: 24px;
      }
    }
  }
}

@media only screen and (max-width: $_width-minimal) {
  #modals {
    .left,
    .line {
      display: none;
    }
  }

  ._main_heading {
    h1 {
      font-size: 38px !important;
    }
  }
  #all-courses {
    .left-side {
      .title {
        font-size: 32px;
      }

      .description {
        font-size: 14px;
      }

      .longest {
        font-size: 14px;
      }

      ._profile {
        width: 90px;
        height: 90px;
      }
    }

    .gradient-text {
      font-size: 50px;
    }

    ._h2 {
      font-size: 32px;
    }

    ._grid {
      grid-template-columns: 1fr !important;

      ._p {
        width: 100%;
      }
    }
  }

  .none_about,
  .arrows {
    display: none;
  }

  #teachers {
    .teachers_wrap {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  .y_map {
    height: 450px !important;
  }

  .isDone {
    flex-direction: column;
    grid-gap: 13px !important;
  }

  #groups {
    ._course {
      height: auto;
    }
    .bar {
      margin: 14px 0 !important;
    }
    b {
      font-size: 14px;
    }
    h3,
    ._h3 {
      font-weight: 600;
      font-size: 18px;
    }
    p {
      margin: 0;
    }
    .about {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 700px) {
  h1,
  ._h1 {
    font-size: 38px;
  }
  h2,
  ._h2 {
    font-size: 36px;
  }

  ._main_heading {
    ._width {
      ._grey {
        margin: 15px 0 !important;
      }
    }
  }

  ._course {
    padding: 16px !important;
    height: fit-content !important;

    ._p {
      &._grey {
        font-weight: 600 !important;
        font-size: 13px !important;
      }
    }

    .bar {
      height: 4px !important;
      margin: 13px 0 !important;
    }

    ._h3 {
      font-size: 16px !important;
    }

    b {
      font-size: 13px !important;
    }

    ._button {
      height: 42px;
      width: 130px;
      padding: 12px 24px;
      font-size: 14px;
    }
  }

  .side-left {
    ._line {
      top: 35px !important;
      width: 212px;
    }

    ._h1 {
      font-size: 32px;
    }

    ._p {
      font-size: 14px;
    }

    .isDone {
      div {
        margin-top: 9px;
      }

      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
    }
  }

  #teachers {
    .teachers_wrap {
      grid-gap: 13px;

      .teacher {
        text-align: left;
        align-items: flex-start;

        img {
          width: 124px;
          height: 124px;
        }
      }
    }
  }

  #gallery-comp {
    .gal {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 12px;
      grid-auto-rows: auto;

      .img {
        height: 120px;
        grid-row: auto;
        grid-column: auto;
      }
    }
  }

  ._heading {
    padding: 50px 0 25px;
  }
}

@media only screen and (max-width: 600px) {
  #all-courses {
    .gradient-text {
      font-size: 42px !important;
    }

    ._p {
      color: #8f959e;
    }

    ._lesson {
      display: flex;
      gap: 17px;
    }

    ._titles {
      p {
        font-size: 14px;
      }
    }
  }

  #teachers {
    .teacher {
      margin: 0px 20px 20px 0;
    }
  }

  footer {
    ._footer_logo_pc {
      display: none;
    }

    ._footer_logo_mobile {
      display: block !important;
    }

    ._footer_container_bottom {
      padding: 22px 30px;
    }

    p {
      font-size: 13px;
    }
  }

  .buttons {
    button {
      margin-top: 10px;
    }
  }

  ._h1 {
    font-size: 26px;
  }

  ._margin_small {
    height: 20px;
  }

  .arrows {
    ._h1 {
      font-size: 20px;
    }
  }

  ._margin_large {
    height: 50px;
  }

  #teachers {
    .teachers_wrap {
      grid-gap: 13px;

      .teacher {
        text-align: left;
        align-items: flex-start;

        img {
          width: 94px;
          height: 94px;
          margin-bottom: 6px;
        }

        .teacher_name {
          font-size: 16px;
          margin-bottom: 10px;
        }

        .teacher_info {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  ._main_heading {
    padding: 45px 0 25px !important;
  }
}
@media only screen and (max-width: 550px) {
  #menubar {
    #menu-block {
      padding: 120px 0 34px 30px;
    }
    #header {
      display: block;
      #menu-bar-logo {
        width: 120px;
      }
    }
    img.logo {
      display: none;
    }
    #menu-block {
      width: 100%;
    }
    ._form_modal_bg {
      display: none;
    }
  }

  ._main_heading {
    h1 {
      font-size: 32px !important;
    }
  }

  ._buttons {
    display: flex;
    button {
      width: fit-content !important;
      height: fit-content;
      font-size: 14px;
      padding: 12px 23px;
    }
  }
  ._course {
    ._h3 {
      font-size: 14px !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  #modal_contacts {
    background: #ffffff;
    border-radius: 14px;

    ._form_modal {
      width: 330px !important;
      height: 310px !important;

      ._h3 {
        margin-bottom: 16px !important;
        font-size: 20px !important;
      }

      ._text {
        font-weight: 600;
        font-size: 36px !important;
      }

      ._grey {
        margin-top: -2px;
        margin-bottom: 30px;
        font-size: 13px !important;
      }

      .icons {
        display: flex;
        align-items: center;
        gap: 13px;

        img {
          margin-right: 13px;
        }

        margin-bottom: 20px !important;
      }

      ._button {
        width: 100%;
      }
    }

    #all-courses {
      .gradient-text {
        font-size: 28px !important;
      }

      .gradient-text {
        font-size: 40px;
        white-space: wrap;
      }
    }

    #gallery {
      h1 {
        font-size: 32px !important;
      }

      p {
        font-size: 14px;
      }
    }
    ._course {
      .about {
        margin-bottom: 15px !important;
      }

      .bar {
        margin: 10px 0 !important;
      }

      ._h3 {
        font-size: 14px !important;
      }

      ._p {
        &._grey {
          font-size: 11px !important;
        }
      }

      b {
        font-size: 10px !important;
      }

      button {
        width: 110px !important;
        font-size: 12px !important;
        padding: 10px 20px !important;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  ._lesson {
    display: block !important;
  }

  ._form {
    padding: 10px;

    form {
      input,
      select {
        padding-left: 10px;
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }

  ._course {
    ._h3 {
      font-size: 12px;
    }

    ._p {
      font-size: 10px;
    }

    .about {
      margin-bottom: 10px;
    }

    button {
      width: auto !important;
      height: auto !important;
      font-size: 12px !important;
      padding: 10px 20px !important;
    }
  }
  #courses {
    grid-template-columns: auto !important;
  }
}
