.teachers_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 41px 20px;
    padding: 65px 0 0;
    .teacher {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            width: 260px;
            height: 260px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 14px;
        }
        .teacher_name {
            font-size: 18px;
            margin-bottom: 8px;
            font-weight: 700;
        }
        .teacher_info {
            font-size: 18px;
            font-weight: 500;
            color: #8f959e;
            line-height: 24px;
        }
    }
}
